.header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 50px;
  background-color: white;
  box-shadow: 1px 1px 10px rgba(0,0,0,.2);
  height: 100%;

  .logo{
    width:50px;
    height: 50px;
    padding-right: 10px;
  }

  &__main-title{
    text-align: center;
    color: #db0303;

    &-thin{
      font-weight: 200;
      color: #fe6518;
    }

    .registered{
      font-size: 10px;
      vertical-align: top;
      padding-top: 5px;
    }
  }
}
