<div class="header">
  <img src="../../../assets/logo.png" class="logo"/>
  <h1 class="header__main-title">Klasyfikator<span class="header__main-title-thin">Cech</span><i class="header__main-title-thin registered fa fa-registered"></i></h1>
</div>
