.content-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
  background-color: rgba(0,0,0,.05);
  overflow-y: scroll;
  position: relative;

  .form{
    display: flex;
    padding: 0 15px;
    background-color: white;
    border: 2px solid #ff7629;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .2);
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    top: 20%;
    width: 766px;
    height: 35px;
    transition: width .3s ease-out;

    &-active{
      transition: width .3s ease-in;
      width: 766px;
    }
  }

  .result{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 30%;
    width: 100%;
    margin-bottom: 100px;

  }
}
