.background{
  width: 100%;
  height: 100%;
  //background-image: url('https://www.marcoguglie.it/Codepen/AnimatedHeaderBg/demo-1/img/demo-1-bg.jpg');
  position: relative;

  .content{
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
  }

  .header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    z-index: 2;
  }

  .background-canvas{
    z-index: 1;
    position: absolute;
  }

  .footer{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 2;
  }
}


