<div #background class="background" (resize)="onResize()">
  <canvas #backgroundCanvas class="background-canvas"></canvas>
  <app-header class="header"></app-header>
  <app-content class="content"></app-content>
  <app-footer class="footer"></app-footer>
</div>
