<div class="form">
  <label class="form__file-name-label">Nazwa pliku: </label>
  <span class="form__file-name"
        [ngClass]="{'form__file-name-disabled': file === undefined}">
    {{fileName}}
  </span>
  <div class="form__centroids">
    <label>Centroidy: </label>
    <select [(ngModel)]="centroids">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
      <option value="30">30</option>
    </select>
  </div>
  <div class="form__centroids">
    <label>Miara odległości: </label>
    <select [(ngModel)]="distanceMeasure">
      <option value="0">Eukildes</option>
      <option value="1">Canberr</option>
      <option value="2">Czybyszew</option>
      <option value="3">Manhattan</option>
    </select>
  </div>
  <label for="upload" class="form_upload">
    <i class="fa fa-folder"></i>
    <input type="file" id="upload" (change)="getFile($event)"/>
  </label>
  <i class="fa fa-mail-forward form_compute" (click)="doUpload()"></i>
</div>
