.form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;

  .fa {
    position: relative;
    color: #fe6518;

    &:hover {
      cursor: pointer;
      color: #dc4306;
    }
  }

  &__file-name {
    display: flex;
    flex-grow: 2;
    border: none;
    font-weight: lighter;

    &-disabled {
      opacity: .5;
    }

    &-label {
      flex-grow: 2;
      font-weight: 600;
    }

    &:focus {
      border: none;
    }
  }

  &__checkbox{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__centroids {
    display: flex;
    justify-content: center;
    flex-grow: 2;

    label {
      padding-right: 10px;
    }
  }

  &_upload {
    padding-left: 20px;
    padding-right: 10px;

    input {
      display: none;
    }
  }
}
