.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
  background-color: white;
  box-shadow: -1px -1px 10px rgba(0,0,0,.2);
  font-size: 12px;

  .heart{
    color: red;
    animation: heartbeat 1s infinite;
  }
}

@keyframes heartbeat {
  0%
  {
    transform: scale( .75 );
  }
  20%
  {
    transform: scale( 1 );
  }
  40%
  {
    transform: scale( .75 );
  }
  60%
  {
    transform: scale( 1 );
  }
  80%
  {
    transform: scale( .75 );
  }
  100%
  {
    transform: scale( .75 );
  }
}
