<div class="result" [ngClass]="{'result-active': showResult == true}">
  <app-loader *ngIf="loading == true"></app-loader>
  <div class="result__response" *ngIf="showResult == true">
    <div class="result__response-input-data">
      <h3>Dane wejściowe: </h3>
      <div class="result__response-input-data__element">
        <table class="table-input-data">
          <tr>
            <td class="name">Nazwa pliku:</td>
            <td class="value">{{fileName}}</td>
          </tr>
          <tr>
            <td class="name">Ilość cech:</td>
            <td class="value">{{attributesClassification.attributes.length}}</td>
          </tr>
          <tr>
            <td class="name">Ilość danych:</td>
            <td class="value">{{attributesClassification.elementsCount}}</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="result__response-input-data">
      <h3 class="no-margin">Raport podsumowujący stworzony model:</h3>
      <h5>Przeprowadzono ocenę modelu przy użyciu 10-krotnej walidacji krzyżowej</h5>
      <table class="table">
        <thead>
        <tr>
          <th>Centroidy</th>
          <th>Błąd klasyfikacji</th>
          <th>Błąd testowy</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of attributesClassification.dataList as IDataDTO">
          <td>{{data.centroidsCount}}</td>
          <td>{{data.avgError}}</td>
          <td>{{data.avgTestError}}</td>
        </tr>
        </tbody>
      </table>
      <div>
        <h5>Model zostanie stworzony przy użyciu {{chosenDataCentroids}} centroidów.</h5>
      </div>
    </div>
    <div class="result__response-input-data">
      <h3>Wyniki klasyfikatora cech:</h3>
      <table class="table">
        <thead>
          <tr>
            <th>Cecha</th>
            <th>Ważność (%)</th>
            <!--<th>Kolor</th>-->
          </tr>
        </thead>
        <tbody>
        <tr *ngFor="let attr of attributesClassification.attributes as IAttributeDTO">
          <td>{{attr.name}}</td>
          <td>{{attr.magnitude}}</td>
          <!--<td><div class="attribute-color" [style.backgroundColor]="attributeColorMap.get(attr.name)"></div></td>-->
        </tr>
        </tbody>
      </table>
    </div>
    <div class="chart">
      <canvas class="chart-canvas" baseChart
              [data]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [chartType]="barChartType"></canvas>
    </div>
  </div>
</div>
