.result{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 700px;
  background: white;
  border: 0 solid transparent;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 0 0 5px 2px rgba(0,0,0,.2);
  padding-bottom: 35px;
  transition: all .3s ease-out;

  &-active{
    transition: all .3s ease-in;
    width: 800px;
    height: auto;
  }

  &__response{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 20px;

    &-input-data{
      display: flex;
      flex-direction: column;
      align-items: stretch;
      width: 75%;
      border-bottom: 1px solid rgba(0,0,0,.1);
      padding-top: 15px;
      padding-bottom: 15px;

      h3{
        margin-top: 0;
        padding-left: 5px;
      }

      .no-margin{
        margin-bottom: 0;
      }

      h5{
        padding-left: 5px;
        font-weight:500;
        margin: 0 0 15px;
      }

      &__element{
        display: flex;
        padding: 0 20px;

        .name-div{
          display: flex;
          flex-direction: row;
          flex-grow: 1;
          font-weight:600;
        }

        .value-div{
          display: flex;
          flex-direction:row;
          font-weight:400;
          flex-grow: 2;
        }
      }

      .table{
        padding-top: 15px;
        margin-bottom: 15px;
        width: 100%;
        border-collapse: collapse;

        th{
          background-color: #ff7629;
        }

        tr:nth-child(even){
          background-color: #e0e0e0;
        }

        td{
          text-align: center;

          .attribute-color{
            width: 50%;
            height: 15px;
            margin: auto;
          }
        }
      }

      .table-input-data{
        padding-top: 15px;
        width: 100%;
        border-collapse: collapse;

        .name{
          font-weight: 600;
          width: 40%;
        }

        .value{
          font-weight: 400;
        }
      }
    }

    .chart{
      margin-top: 15px;
      height: 500px;
      width: 500px;

      &-canvas{
        height: 100%;
        width: 100%;
      }
    }
  }
}
